body {
    background-color: rgb(3, 3, 57);
    color: white;
}

h1 {
    text-align: center;
}

table {
    display: flex;
    justify-content: center;
}

td, th {
    background-color: grey;
    padding: 10px;
    text-align: center;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:black;
}

.buttonReturn {
    margin-left: 70vw;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 4px;
    background-color: grey;
}

.descriptionHeader {
    text-align: center;
}

.descriptionContent {
    padding: 0.5rem;
    outline-style: solid;
    outline-color: yellow;
}
.homeContainer {
    display: flex;
    flex-direction: column;
}
